#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo-input {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #272727;
  color: #788cde;
  transition: background-color 0.3s;
  width: 100%;
}

.todo-input::placeholder {
  color: #5c6bab;
  font-size: 1rem;
  font-weight: 500;
}

.todo-input:hover {
  background-color: #3c3c3c;
}
.todo-input:focus {
  outline: none;
  background-color: #3c3c3c;
}

.task-item {
  width: 100%;
  background-color: #272727;
  margin-inline: 1rem;
  margin-block: 0.2rem;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: start;
  display: flex;
  align-items: center;
}

.task-item:hover {
  background-color: #363636;
}

.input-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #272727;
  border-radius: 1rem;
  border: solid 1.5px white;
}

.input-container:hover input ~ .check-mark {
  background-color: #363636;
}
.input-container input:checked ~ .check-mark {
  background-color: #788cde;
}

.check-mark::after {
  content: "";
  position: absolute;
  display: none;
}

.input-container input:checked ~ .check-mark::after {
  display: block;
}

.input-container .check-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

h1.heading {
  font-size: 2rem;
  text-align: start;
  padding-block: 1rem;
}

.completed-heading {
  text-align: start;
  margin-inline-start: 1rem;
}

.completed-list {
  text-align: start;
  text-decoration: line-through;
  margin-inline: 2rem;
}
